{% extends 'base.html.twig' %}

{% block title %}Appointments{% endblock %}

{% block body %}
    <h1>Appointments</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ appointment.id }}</td>
            </tr>
            <tr>
                <th>Date_a</th>
                <td>{{ appointment.dateA ? appointment.dateA|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Heure</th>
                <td>{{ appointment.heure }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ appointment.etat }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('appointments_index') }}">back to list</a>

    <a href="{{ path('appointments_edit', {'id': appointment.id}) }}">edit</a>

    {{ include('appointments/_delete_form.html.twig') }}
{% endblock %}
