{% extends 'base.html.twig' %}

{% block title %}Hopitaux{% endblock %}

{% block body %}
    <h1>Hopitaux</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ hopitaux.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ hopitaux.nom }}</td>
            </tr>
            <tr>
                <th>Adress</th>
                <td>{{ hopitaux.adress }}</td>
            </tr>
            <tr>
                <th>Localisation</th>
                <td>{{ hopitaux.localisation }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('hopitaux_index') }}">back to list</a>

    <a href="{{ path('hopitaux_edit', {'id': hopitaux.id}) }}">edit</a>

    {{ include('hopitaux/_delete_form.html.twig') }}
{% endblock %}
